<style type="text/css">
	.footer{
		width: 100%;
		background: #272727;
		color: white;
		padding: 15px 0;
		margin-top: 14px;
	}
	.copyright{
		margin-top:4px; 
	}
	.img img{
		width: 30px;
	}
</style>

<div class="footer">
	<div class='container'>
		<div class="row">
			<div class="col-lg-4  col-lg-offset-2 copyright">
				<p>
					copyright &copy  Huang Yu-Di 2017/0928
				</p>
			</div>
			<div class="col-lg-3 col-lg-offset-3 img">
				<a href="#"><%= image_tag("facebook.png") %></a>
				<a href="#"><%= image_tag("if_twitter_386736.png") %></a>
				<a href="#"><%= image_tag("gmail.png") %></a>
			</div>
		</div>
	</div>
</div>