<style type="text/css">
	.header{
		display: fixed;
		height: 50px;
		background: #272727;
		font-size: 30px;
		color:white;
	}
	.logo img{
		height:  50px;
	}
	.header_title{
		padding: 3px 0;
	}
</style>

<div class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="logo col-lg-offset-1 col-lg-1">
				<%= image_tag("DoList.png") %>
			</div>
			<div class="header_title col-lg-1">
				<p>Do List</p>
			</div>
		</div>
	</div>
</div>
<hr>